<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>

<p>The list of hosted packages:</p>
<ul>
  {{range .Packages}}
    <li>
      Package: <a href="{{.Subpath}}">{{.ImportPath}}</a>
    </li>
  {{end}}
</ul>

</body>
</html>
