<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>go-import-server</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500&display=swap" rel="stylesheet">
  <style>
    body, pre, code {
      font-family: "Geist Mono", ui-monospace, monospace;
    }
  </style>
</head>
<body>

<p>The list of hosted packages:</p>
<ul>
  {{range .Packages}}
    <li>
      Package: <a href="{{.Subpath}}">{{.ImportPath}}</a>
    </li>
  {{end}}
</ul>

</body>
</html>
